{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="content-section">
    <div class="media-body">
     
      <h5><a class="article-title mt-2" href="">{{ answer.answer|safe }}</a></h5>
    </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Comment</legend>
                {{ comment_form.media }}
                {{ comment_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>

    {% for comment in answer.comments.all %}
    <div class="media-body">
        <article class="content-section">
            <small class="text-muted">{{ comment.user }}</small>
            <h5><a class="article-title mt-2">{{ comment.comments|safe }}</a></h5>
        </article>
   </div>
      {% empty %}
          <small class="text-muted">No Comments</small>
    {% endfor %}
</article>

{% endblock %}