{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">SignUp</legend>
                    {{ form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">SignUp</button>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
        Already have an account?<a href="{% url 'login' %}" class="btn btn-outline-info">SignIn</a>
    </div>

{% endblock content %}