{% extends "base.html" %}
{% block content %}
  <div class="alert alert-danger" role="alert">
      {% if messages %}
            {% for k in messages %}
                <h3>{{k}}</h3>
            {% endfor %}
      {% endif %}
  </div>
    {% for k in sr %}
        <article class="media content-section" >
           
            <div class="media-body">
            
            <h3>{{ k.post|safe }}</h3>
            <p class="article-content" style="text-align: justify;">{{ k.answer|safe }}</p>
 
            </div>
        </article>
    {% endfor %}
{% endblock %}